.App {
  text-align: center;
  background-color: #f9f9ed;
  
  /* make div take up entire vertical space */
  height: 100vh;

  /*put some padding around the div*/
  padding: 75px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input {
  margin: 5px;
  padding: 5px;
  width: 200px;
  border: 1px solid #7D84B2;
  border-radius: 5px;
}

form > input[type='submit'] {
  background-color: #8E9DCC;
}

/* 
background color: #F9F9ED
button color: #DBF4A7
other colors: #7D84B2, #8E9DCC, #D9DBF1
*/